/.nextflow*
/work/
/trajs
/models
/inputs
/datasets
/analyses
/latent
.ipynb_checkpoints/
__pycache__/
/notebooks/*.png
/notebooks/*.xyz
/exp
/notebooks/figs/
/notebooks/*.tikz
/ck-cp2k-frc/
/bench/
/preview/
