profiles {
  standard { // most things containerized, intended for local testing
    process.cpus=1
    executor.name = 'local'
    executor.cpus = 16
    params.cp2k_cmd = 'source /opt/cp2k/prod_entrypoint.sh local popt; cp2k.popt'
    params.lmp_cmd = 'lmp_mpi'
    process {
      errorStrategy='ignore'
      withLabel: moltemplate {container='yqshao/pt_pils:preprocess'} // dedicated for this project
      withLabel: lammps {container='lammps/lammps:stable_7Aug2019_ubuntu18.04_openmpi_py3'}
      withLabel: cp2k {container='yqshao/manual:cp2k-v8.1'}
    }
  }

  lumi { //
    executor.name = 'slurm'
    executor.queueSize = 50
    executor.submitRateLimit = '120 min'
    params.cp2k_cmd = 'srun cp2k.psmp'
    params.lmp_cmd = 'mpirun lmp_mpi'
    process {
      errorStrategy='ignore'
      executor = 'slurm'
      time = '1d'
      withLabel: moltemplate {container='yqshao/pt_pils:preprocess'}
      withLabel: 'tips|moltemplate' {
        clusterOptions='-A proj_465000163 --ntasks 1 --cpus-per-task 4 -p small'
      }
      withLabel: lammps {
        container='lammps/lammps:stable_7Aug2019_ubuntu18.04_openmpi_py3'
        clusterOptions='-A proj_465000163 --nodes 1 --ntasks-per-node 128 -p standard'
      }
      withLabel: cp2k {
        module='LUMI/21.08:partition/L:CP2K/9.1-cpeGNU-21.08'
        clusterOptions='-A proj_465000163 --nodes 4 --ntasks-per-node 16 --cpus-per-task 8 -p standard'
        beforeScript='export OMP_NUM_THREADS=4 OMP_PLACES=cores'
      }
    }
  }

  dardel {
    // tested for CP2K and LAMMMPS
    // NOTE: dardel only allows for singularity in sandbox format, build the images manually like this:
    //   singularity build --sandbox work/singularity/yqshao-pt_pils-preprocess.img docker://yqshao/pt_pils:preprocess
    //   singularity build --sandbox work/singularity/lammps-lammps-stable_7Aug2019_ubuntu18.04_openmpi_py3.img docker://lammps/lammps:stable_7Aug2019_ubuntu18.04_openmpi_py3
    executor.name = 'slurm'
    executor.queueSize = 50
    executor.submitRateLimit = '120 min'
    params.cp2k_cmd = 'srun cp2k.psmp'
    params.lmp_cmd = 'mpirun lmp_mpi'
    process {
      errorStrategy='ignore'
      executor = 'slurm'
      time = '1d'
      withLabel: 'tips|moltemplate' {executor='local'}
      withLabel: moltemplate {container='yqshao/pt_pils:preprocess'}
      withLabel: tips {
        module='PDC/21.11:Anaconda3/2021.05'
      }
      withLabel: lammps {
        container='lammps/lammps:stable_7Aug2019_ubuntu18.04_openmpi_py3'
        clusterOptions='-A SNIC2022-1-27 --nodes 1 --ntasks-per-node 128 -p main'
      }
      withLabel: cp2k {
        scratch='$SNIC_TMP'
        module='PDC/21.11:CP2K/9.1-cpeGNU-21.11'
        clusterOptions='-A SNIC2022-1-27 --nodes 4 --ntasks-per-node 32 --cpus-per-task 8 -p main'
        beforeScript='export OMP_NUM_THREADS=4 OMP_PLACES=cores'
      }
    }
  }

  alvis { // tested for PiNN and TIPS
    executor.name = 'slurm'
    executor.queueSize = 50
    executor.submitRateLimit = '120 min'
    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'
      beforeScript = 'source $HOME/tips-env/bin/activate'
      module = 'TensorFlow/2.5.0-fosscuda-2020b'
      clusterOptions = '--gres=gpu:V100:1'
      withLabel: 'tips|moltemplate' {executor='local'}
      withLabel: pinn {scratch=true}
      withLabel: moltemplate {container='yqshao/pils:moltemplate'}
    }
  }
}

singularity {
  enabled = true
  autoMounts = true
}
