includeConfig 'profiles/standard.config'
includeConfig 'profiles/teoroo2.config'
includeConfig 'profiles/alvis-t4.config'
includeConfig 'profiles/alvis-v100.config'

profiles {
  'scan' {
    params {
      publish = 'exp/scan'
      init_ds = 'datasets/scan-10k.{yml,tfr}'
      ref_inp = 'skel/cp2k/sp-scan.inp'
    }
  }
  'revpbe' {
    params {
      publish = 'exp/revpbe'
      init_ds = 'datasets/revpbe-10k.{yml,tfr}'
      ref_inp = 'skel/cp2k/sp-revpbe.inp'      
    }
  }  
}
