profiles {
   "alvis-t4" {
    workDir = './proj/pils_data/work'

    params{
      cp2k_cmd = 'OMP_NUM_THREADS=2 mpirun -n 4 cp2k.psmp'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'
      clusterOptions = '--gres=gpu:T4:1'
      withLabel: 'molutils|tips' {executor='local'}
      withLabel: 'pinn|cp2k' {scratch=true}
      withLabel: 'tips' {
        beforeScript = '''
          export CUDA_VISIBLE_DEVICES="" && \
          ml TensorFlow/2.6.0-foss-2021a-CUDA-11.3.1 ASE/3.22.0-foss-2021a && \
          source $HOME/envs/pinet2-tf26/bin/activate
        '''
      }
      withLabel: 'pinn|ase' {
        beforeScript = '''
          ml TensorFlow/2.6.0-foss-2021a-CUDA-11.3.1 ASE/3.22.0-foss-2021a && \
          source $HOME/envs/pinet2-tf26/bin/activate
        '''
      }
      withLabel: 'cp2k' {
        clusterOptions = '-n 8 --gres=gpu:T4:2'
        container='./proj/cp2k_v9.1.0.sif'
      }
    }

    singularity {
      enabled = true
      runOptions = '--nv'
    }
  }
}
