profiles {
   "alvis-t4" {
    workDir = './proj/pils_data/work'

    params{
      cp2k_cmd = 'OMP_NUM_THREADS=2 mpirun -n 4 cp2k.psmp'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'

      withLabel: 'molutils' {executor='local'}
      withLabel: 'pinn' {scratch=true}
      withLabel: 'tips|pinn|ase' {
        beforeScript = 'ml TensorFlow/2.6.0-foss-2021a-CUDA-11.3.1 ASE/3.22.0-foss-2021a && source $HOME/envs/pinet2-tf26/bin/activate'
        clusterOptions = '--gres=gpu:T4:1'
      }
      withLabel: 'cp2k' {
        scratch=true
        clusterOptions = '-n 8 --gres=gpu:T4:2 -A NAISS2023-5-282'
        container='./proj/cp2k_v9.1.0.sif'
      }
    }

    singularity {
      enabled = true
      runOptions = '--nv'
    }
  }
}
